<section>
<a href="http://twitter.com/leonzaruvinsky" id="twitter"><i class="fa fa-4x fa-twitter"></i></a> 
<a href="http://github.com/leonz132" id="github"><i class="fa fa-4x fa-github"></i></a>
<a href="http://linkedin.com/in/leonzaruvinsky" id="linkedin"><i class="fa fa-4x fa-linkedin-square"></i></a>
<span id="note"></span>
</section>

<section>
<p>I'm a second-year computer science major at <a href="http://cornell.edu" class="cornell">Cornell University</a>.</p>
<p>In my spare time, I help organize <a href="http://bigredhacks.com" class="bigredhacks"><span>BigRed//</span>Hacks</a> and run <a href="http://mybbwebhost.com" class="mybbwebhost">MyBBWebHost</a>.</p>
</section>
