<section>

<h2>Publish a New Article</h2>

<form method="post" action="/publish" id="publish">
<input type="text" placeholder="Title" id="title" name="title"><br>
<input type="text" placeholder="URL Path" value="{{email}}" id="path" name="path"><br>
<textarea id="article" placeholder="Article" name="article"></textarea><br>
<input type="checkbox" id="visible" name="visible" value="1"> <label for="visible">Publish this article?</label><br>
<input type="submit" value="Send" id="send" name="send">
</form>

</section>
