<script>
(function() {
	var note = document.getElementById("note");

	document.getElementById("twitter").addEventListener("mouseover", function() {
		note.innerHTML = "Follow me on Twitter!";
	}, false);

	document.getElementById("github").addEventListener("mouseover", function() {
		note.innerHTML = "Check out my projects on GitHub!";
	}, false);

	document.getElementById("linkedin").addEventListener("mouseover", function() {
		note.innerHTML = "View my resume on LinkedIn!"
	}, false);
})();
</script>
