body {
	font: 20px "Open Sans";
}

a {
	text-decoration: none;
}

header {
	margin-left: 5%;
	margin-bottom: 20px;
}

header h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
}

header #home {
	font-size: 70px;
	margin: 0;
}


header h3 {
	font-weight: 600;
	font-style: italic;
	font-size: 40px;
	margin: 50px 0 -15px 0;
}

nav {
	float: right;
	margin-right: 3%;
}

.home {
	margin-top: -23px;
}

nav ul {
	text-align: right;
	width: 100%;
	margin: 10px 0 0 0;
}

nav ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

nav a {
	color: #000;
}
nav a:hover {
	color: #777;
}

section {
	margin: 0 5% 50px 5%;
}


footer {
	text-align: center;
	margin: 100px 0 20px 0;
}

footer cite {
	font-style: normal;
	font-size: 18px;
	display: block;
}

.fa-4x {
	margin-right: 20px;
}

.fa-4x:hover {
	opacity: .8;
}

.mybbwebhost {
	color: #145782;
	font-weight: 700;
}

.bigredhacks {
	color: #777;
	font-weight: 700;
}

.bigredhacks span, .cornell {
	color: #B31B1B;
	font-weight: 700;
}

#github {
	color: #000;
}
#linkedin {
	color: #007bb6;
}
#twitter {
	color: #00aced;
}

h2 {
	margin: 50px 0 20px 0;
}

/** Contact form **/

input, textarea {
	border: 1px solid #000;
	font: 16px "Open Sans";
	padding: 10px;
	margin-bottom: 15px;
	color: #000;
	border-radius: 3px;
}

#name, #email, #message {
	width: 300px;
}

#message {
	height: 150px;
}

#send {
	width: 100px;
	padding: 5px;
}

.light {
        color: #444;
	border: 1px solid #444;
}

.light:focus {
	color: #000;
	border: 1px solid #000;
}

.valid {
        border: 1px solid green;
}

.invalid {
        border: 1px solid red;
}

#error {
        color: red;
}



